
*.json

*.xml

assets/*

bin/*

crash-reports/*

defaultconfigs/*

emojiful/*

journeymap/* 

*.txt

libraries/*

logs/*

*.rar

resourcepacks/*

saves/*

screenshots/*

*.dat

tlm_custom_pack/*

versions/*

webcache2/*

*.bin
